.Container {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	display: flex;
	justify-content: center;
	z-index: 1;
}

.Toolbar {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: white;
	margin: 0.5em;
	padding: 0.2em 0;
	border-radius: 0.6em;
	font-weight: bold;
}

.Toolbar div {
	padding: 0.6em;
	margin: 0 0.2em;
	border-radius: 0.6em;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.Toolbar div:hover {
	cursor: pointer;
	background-color: #eeeeee;
}

.Toolbar .active {
	background-color: black;
	color: white;
}

.Toolbar .active:hover {
	background-color: black;
}

@media only screen and (min-width: 1024px) {
	.Container {
		height: 100%;
		width: auto;
	}

	.Toolbar {
		flex-direction: column;
		justify-content: flex-start;
		border-radius: 0;
		margin: 0;
		padding: 1em;
		border-right: 1px solid rgba(0, 0, 0, 0.1);
	}

	.Toolbar div {
		margin: 0.2em;
	}
}
